h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 80%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.col-2 {
    width: 30%; /* 2/10 del ancho total */
}
.col-rest {
    width: 70%; /* El resto del ancho */
}

.grafico {
    height: 300px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}