h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divClientes {
    position: fixed;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(86, 166, 212,0.7);
    padding: 10px;
    width: 120px;
}
/*Tabla*/
table {
    width: 80%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.col-2 {
    width: 30%; /* 2/10 del ancho total */
}
.col-rest {
    width: 70%; /* El resto del ancho */
}

/*Graficos*/
.grafico {
    height: 250px;
}
